<div class="auth-container">
  <!-- LEFT -->
  <div class="auth-left">
    <div class="overlay">
      <div class="brand">
        <h1>FinSecure</h1>
        <p>Secure Trading Platform</p>
      </div>

      <div class="info">
        <h2>Trade with Confidence</h2>
        <p>
          Advanced security, real-time analytics and seamless transactions.
        </p>
      </div>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="auth-right">
    <div class="auth-card">
      <!-- Tabs -->
      <div class="tabs">
        <button
          [class.active]="isLogin"
          (click)="switchMode(true)">
          Login
        </button>

        <button
          [class.active]="!isLogin"
          (click)="switchMode(false)">
          Sign Up
        </button>
      </div>

      <!-- Login Component -->
      <app-login *ngIf="isLogin"></app-login>

      <!-- Signup Component -->
     <app-signup
  *ngIf="!isLogin"
  (signupSuccess)="switchMode(true)">
</app-signup>
    </div>
  </div>
</div>